.footer {
    text-align: center;
    padding: 1rem;
    margin-top: 5rem; 
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--second-color);
    overflow: hidden;
    @media screen and (max-width: 720px) {
      padding: 0 !important;
    }
  }
  
  .footer p {
    font-size: 1rem;
    color: var(--main-color);
    opacity: 0.8;
  }
  
  .social-links {
    margin-top: 1rem;
  }
  
  .social-links a {
    color: var(--main-color);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 12px;
    margin-bottom: 4px;
  }

  @media (max-width: 768px) {
    .social-links a {
      font-size: 12px;
      margin: 0 10px;
    }
  } 
  
  .social-links a:hover {
    text-decoration: underline;
  }